*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.loader{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: black;
    left: 50%;
    margin-left: -100px;
    color: white;
    display: none;
}